# Accept EULA
vmaccepteula

# Install on the first local disk
install --firstdisk=local --overwritevmfs

# Configure the network
network --bootproto=static --ip={{ item["ip"] }} --netmask={{ esxi_netmask }} --gateway={{ esxi_gateway }} --hostname={{ item["hostname"] }}.{{ esxi_domain_suffix }} --nameserver={{ esxi_nameserver }} {% if esxi_vlan is defined and esxi_vlan | int > 0 %}--vlanid={{ esxi_vlan }}{% endif %} --addvmportgroup=1

# Set the root password
rootpw {{ esxi_root_password }}
{% if esxi_license_key is defined and esxi_license_key | length > 0 %}
# Set the ESXi serial number
vmserialnum --esx={{ esxi_license_key }}
{% endif %}
# Reboot
reboot

# Use the busybox interpreter
%firstboot --interpreter=busybox

# enable & start SSH
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# enable & start ESXi Shell
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

# Suppress ESXi Shell warning
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1